"*":
  "atom-autocomplete-php":
    verboseErrors: true
  "atom-material-ui":
    colors:
      abaseColor:
        red: 170
        green: 216
        blue: 117
        alpha: 1
      accentColor:
        red: 111
        green: 136
        blue: 83
        alpha: 1
      predefinedColor: "Green"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "tool-bar"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "source code pro"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "file-icons": {}
  "flex-tool-bar": {}
  "git-diff": {}
  "git-log":
    fontFamily: "'source code pro', Inconsolata, Monaco, Consolas, 'Courier New', Courier"
    fontScale: 0.8
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  linter:
    lintOnFly: false
    showErrorTabLine: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "status-bar":
    cursorPositionFormat: " %L : %C"
    selectionCountFormat: " %L, %C"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
".css.source":
  editor:
    autoIndent: true
    tabLength: 2
".ini.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    autoIndent: true
    tabLength: 2
".json.source":
  editor:
    autoIndent: true
    tabLength: 2
