"*":
  "atom-beautify":
    analytics: false
  "atom-material-ui":
    fonts: {}
    panels:
      panelContrast: true
    tabs: {}
    treeView:
      compactList: true
      compactTreeView: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "sublime-panes"
      "sync-settings"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontFamily: "source code pro"
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "file-icons":
    tabPaneIcon: false
  "flex-tool-bar": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-log": {}
  "git-plus": {}
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  linter:
    lintOnFly: false
  "linter-eslint":
    globalNodePath: ""
  "linter-php":
    executablePath: ""
  "linter-scss-lint": {}
  "one-dark-ui": {}
  pigments: {}
  "status-bar":
    cursorPositionFormat: " %L : %C"
    selectionCountFormat: " %L, %C"
  "tool-bar":
    position: "Left"
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
".js.source":
  editor:
    autoIndent: true
    tabLength: 2
