packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-paths"
  "color-picker"
  "editorconfig"
  "emmet"
  "file-icons"
  "flex-tool-bar"
  "git-blame"
  "git-log"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-jsonlint"
  "linter-php"
  "package-sync"
  "pigments"
  "tool-bar"
  "tree-view-git-branch"
]
