#
#---------- html ----------
#

'.text.html.basic':
    'initialize HTML5 file structure':
        'prefix': 'html5'
        'body': """
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>${1:Document}</title>
    <meta name="keywords" content="${2}">
    <meta name="description" content="${3}">
    <meta name="author" content="${4}">
</head>
<body>
    ${5}
</body>
</html>
        """

#
#----------- JavaScript ----------
#

'.source.js':
# Strict Mode
    'use strict mode':
        'prefix': 'usm'
        'body': """
'use strict';
        """
# Immediately-invoked Function Expression
    'IIFE(ES5)':
        'prefix': 'iife'
        'body': """
;(function () {
  ${1}
})()
        """
    'IIFE(ES6)':
        'prefix': 'iife6'
        'body': """
;(() => {
    ${1}
})()
        """
# Arrow Function
    'arrow function(no parameter)':
        'prefix': 'afn'
        'body': """
() => ${2}
        """
    'arrow function(one parameter)':
        'prefix': 'afo'
        'body': """
${1} => ${2}
        """
    'arrow function(several parameters)':
        'prefix': 'afs'
        'body': """
(${1}) => ${2}
        """
