# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.html.basic':
    '初始化HTML5文件结构':
        'prefix': 'html5'
        'body': """
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>${1:Document}</title>
    <meta name="keywords" content="${2}">
    <meta name="description" content="${3}">
    <meta name="author" content="${4}">
</head>
<body>
    ${5}
</body>
</html>
        """
'.source.js':
    '自执行函数':
        'prefix': 'iife'
        'body': """
;(function () {
  ${1}
})()
        """
    '严格模式':
        'prefix': 'sm'
        'body': """
'use strict'

        """
